body{
	background-color:lightgrey;
}

p#sentence{
	padding-top: 200px;
	text-align:center;
	font-size:3em;
	font-family: 'Quicksand', sans-serif;
}

p#count{
	text-align:center;
	font-size:3em;
	font-family: 'Quicksand', sans-serif;
}

#course {
    vertical-align: top;
    width: 0;
    height: 3em;
 /* needed. px, em or any other */;
}

#course > span {
    position: absolute;
}